.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.env
.env.*
!.env.example
**/*.json
!package.json
!tsconfig.json
!Anchor.toml
!scripts/*.json
!tests/*.json
!**/idl/*.json
*.key
*.pem
